<div class="container-fluid page-body-wrapper">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Listes des ordonnateurs</h4>
                    <a (click)="addord()" class="btn btn-inverse-primary btn-fw">Ajouter Ordonnateur </a>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>

                                <tr>
                                    <th>Reference</th>
                                    <th>Nom du ordonnateur </th>
                                    
                                    
                                    
                                
                                    <th style="text-align: center;">Actions</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let i of ToShow">
                                    <td>{{i.ref}}</td>
                                    <td>{{i.nom}}</td>
                                    
                                    
                                    <td style="text-align: center;">
                                        
                                    <a (click)="edit(i.id)" target="blank" style="font-size: 20px;">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                </td>
                                </tr>
                    
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
        </div>
      </div>
   </div>
</div>