<div class="container-fluid page-body-wrapper">
    <div class="col-md grid-margin stretch-card" style="margin-left: 250px;margin-right: 250px">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">Modifier Banque</h4>
            <div class="forms-sample">
              <div class="form-group">
                <label>Nom de la Banque</label>
                <input type="text" class="form-control"  placeholder="Nom de la Banque" id="nom" [(ngModel)]="banq.nom">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" id="email" [(ngModel)]="banq.mail">
              </div>
              <div class="form-group">
                <label>Adresse</label>
                <input type="text" class="form-control" placeholder="Adresse" id="adresse" [(ngModel)]="banq.adresse">
              </div>
              <div class="form-group">
                <label>Téléphone</label>
                <input type="number" class="form-control" placeholder="Téléphone" id="tel" [(ngModel)]="banq.tel">
              </div>
                
              <a type="submit" (click)="update()" class="btn btn-primary me-2">Modifier Banque</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>