<div class="container-fluid page-body-wrapper">
    <div class="content-wrapper">
      <div class="row">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
        
           <div class="search-options">
                        <label>
                          Mode de recherche :
                          <select [(ngModel)]="searchMode">
                            <option value="reference">Par Référence</option>
                            <option value="etat">Par État</option>
                            <option value="date">Par Date de Caution</option>
                          </select>
                        </label>
                      </div>
                      
                      <div *ngIf="searchMode === 'reference'">
                        <label>Recherche par Référence :</label>
                        <input [(ngModel)]="referenceQuery" type="text" />
                      </div>
                      
                      <div *ngIf="searchMode === 'etat'">
                        <label>Recherche par État :</label>
                        <select [(ngModel)]="etatQuery">
                          <option value="En_cours">En cours</option>
                          <option value="Main_Leve">Main Levée</option>
                          <option value="Restitué">Restitué</option>
                          <option value="Non_Restitué">Non Restitué</option>
                        </select>
                      </div>
                      
                      <div *ngIf="searchMode === 'date'">
                        <label>Date de début :</label>
                        <input [(ngModel)]="startDate" type="date" />
                      
                        <label>Date de fin :</label>
                        <input [(ngModel)]="endDate" type="date" />
                      </div>
                      
                      <button (click)="search()">Rechercher</button>
                    </ul>
        </nav>  

        
        <div class="main-panel">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Listes des cautions</h4>
                    <a (click)="addcaut()" class="btn btn-inverse-primary btn-fw">Ajouter Caution </a>
                   
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>

                                <tr>
                                    <th>Code</th>
                                    <th>Reference</th>
                                    <th>Montant</th>
                                    <th>Etat</th>
                                    <th>Date de caution</th>
                                    <th>Date de levé</th>
                                    <th>Date de restitution</th>
                                    <!--<th>Date de saisie</th>-->
                                    <th style="text-align: center;">Actions</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let i of ToShow">
                                    <td>{{i.code}}</td>
                                    <td>{{i.reference}}</td>
                                    <td>{{i.montant}}</td>
                                    <td>{{i.etat}}</td>
                                    <td>{{i.datecaut | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{i.dateleve | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{i.daterest | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <!--<td>{{i.datesaisie | date:'yyyy-MM-dd'}}</td>-->
                                    <td style="text-align: center;">
                                        <a (click)="detailCaut(i.id)" target="blank" style="font-size: 20px;margin-right: 10px;">
                                        <i class="mdi mdi-dots-horizontal-circle"></i>
                                    </a>
                                    <a (click)="edit(i.id)" target="blank" style="font-size: 20px;">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                </td>
                                </tr>
                    
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
        </div>
      </div>
   </div>
</div>