<div class="container-fluid page-body-wrapper">
    <div class="col-md grid-margin stretch-card" style="margin-left: 250px;margin-right: 250px">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">Modifier Fournisseur</h4>
            <div class="forms-sample">
              <div class="form-group">
                <label>Nom de la Fournisseur</label>
                <input type="text" class="form-control"  placeholder="Nom du Fournisseur" id="nom" [(ngModel)]="fournisseur.nom">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" id="email" [(ngModel)]="fournisseur.mail">
              </div>
              <div class="form-group">
                <label>Adresse</label>
                <input type="text" class="form-control" placeholder="Adresse" id="adresse" [(ngModel)]="fournisseur.adresse">
              </div>
              <div class="form-group">
                <label>Téléphone</label>
                <input type="number" class="form-control" placeholder="Téléphone" id="tel" [(ngModel)]="fournisseur.tel">
              </div>
             
             
              
              
              <a type="submit" (click)="update()" class="btn btn-primary me-2">Modifier Fournisseur</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>